<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Proyecto</title>
    <link rel="stylesheet" href="{% static 'aplicacion/css/bootstrap.min.css' %}">
    <link rel="icon" href="{% static 'aplicacion/assets/icono.ico' %}">
    <link rel="stylesheet" href="{% static 'aplicacion/css/estilos.css' %}">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a href="{% url 'inicio' %}">Inicio</a>
            <a href="{% url 'vinilo' %}">Vinilos</a>
            <a href="{% url 'reproductor' %}">Tocadiscos</a>
            <a href="{% url 'parlante' %}">Parlantes</a>
            <a>
                <button type="button" class="btn btn-warning">Ingresar</button>
            </a>
        </div>
    </nav>
</header>
<main class="cuerpo">
    {% block contenido %}

    {% endblock %}
</main>
<footer>
    <p>Pié de página</p>
</footer>
<script> src="{% static 'aplicacion/js/bootstrap.bundle.min.js' %}"</script>
</body>
</html>